<div class="container mt-5">

<!-- Carousel Start -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="{{busNewsDisplay[15].urlToImage}}" class="d-block w-100" alt=".">
        <div class="carousel-caption d-none d-md-block" style="background-color: floralwhite; color:black; font-family: 'Times New Roman', Times, serif;">
          <h2>{{busNewsDisplay[15].title}}</h2>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{{busNewsDisplay[16].urlToImage}}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="background-color: rgba(56, 57, 37, 0.384); color:#fff; font-family: 'Times New Roman', Times, serif;">
          <h1>{{busNewsDisplay[16].title}}</h1>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{{busNewsDisplay[17].urlToImage}}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="background-color: rgba(240, 248, 255, 0.555); color:black; font-family: 'Times New Roman', Times, serif;">
          <h2>{{busNewsDisplay[17].title}}</h2>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!-- Carousel End -->

    <h4>Business News</h4>
    <div class="row">
        <div class="col col-lg-3 mt-3 mb-3" *ngFor="let d of busNewsDisplay; let i = index">
            <div class="card h-100">
                <img src="{{d.urlToImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{d.title}}</h5>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" (click)="modalAct(i)" class="btn btn-outline-dark" data-bs-toggle="modal"
                            data-bs-target="#exampleModal2">Read More</a>
                        <a type="button" class="btn btn-dark" href="{{d.url}}">Go to</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel2">{{busNewsDisplay[modi].title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{busNewsDisplay[modi].description}}
                <br>
                <small class="text-muted">{{busNewsDisplay[modi].source.name}}</small><br>
                <small class="text-muted">{{busNewsDisplay[modi].publishedAt}}</small>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-outline-dark" href="{{busNewsDisplay[modi].url}}">Go to</a>
                <button (click)="addTo(modi,busNewsDisplay[modi].title,busNewsDisplay[modi].description,busNewsDisplay[modi].urlToImage) "
                    type="button" data-bs-dismiss="modal" class="btn btn-dark">Save to clipboard</button>
            </div>
        </div>
    </div>
</div>