.navbar{
    padding-left: 70px;
    padding-right: 70px;
    /* background-image: linear-gradient(powderblue,aliceblue); */

}
.navbar-brand{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dropdown-menu{
    display: none;
    /* position: absolute; */
    /* min-width: 200px; */
    z-index: 1;
}
.dropdown-menu a{
    font-family: 'Sarabun', sans-serif;
    color: black;
}
.dropdown-menu a:hover{
    background-color:lightblue;
    /* color:cornflowerblue; */
    color:rgb(30, 46, 58);
    border: none;
}
.dropdown:hover .dropdown-menu{
    display: block;
    border: none;
    background-color: rgb(225, 238, 253);
}
.dropdown:hover .dropdown-toggle{
    background-color: rgb(225, 238, 253);
    color: black;
}
.offcanvas{
    background-color: rgb(225, 238, 253);
}
.offcanvas-body a{
    display: flex;
    align-items:flex-start;
    text-decoration: none;
    color: rgb(14, 13, 13);

}
.offcanvas-body li{
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 40px;
    /* color: black; */
    color: rgb(14, 13, 13);
    background-color: rgb(225, 238, 253);
    text-decoration: none;
    letter-spacing: 2px;
    border-bottom: 1px solid black;
    font-family: 'Space Grotesk', sans-serif;
}
.offcanvas-body li:hover{
    /* background-color: #d9effa; */
    background-image: linear-gradient(90deg,  lightskyblue, aliceblue);
    cursor: pointer;
}
.offcanvas-body li:hover:nth-child(even){
    background-image: linear-gradient(90deg, rgb(151, 198, 252), aliceblue);
    cursor: pointer;
}
.b2{
    margin-left: 170px;
    margin-top: -50px;
}
.b1 button{
    border: 0;
    padding: 0.5em 1.5em;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgb(151, 206, 252), rgb(240, 255, 246));
    color:#003147;
    transition: 0.5s;
    margin-left: 180px;
}
.b1 button:hover{
    background-image: linear-gradient(90deg, rgb(240, 255, 246), rgb(48, 142, 250));
    color: rgb(0, 0, 0);
    /* transform: rotate(360deg); */
}
.b2 button{
    padding: 0.5em 1.5em;
    cursor: pointer;
    border: 1px solid #3498db;
    font-size: 20px;
    color:#fff;
    transition: 0.8s;
    margin-left: 35px;
    position: relative;
    overflow: hidden;
}
.b2 button:hover{
    color: #3498db;
}

.b2 button::before{
    content: '';
    position: absolute;
    /* left: 0; */
    top: 0;
    right: 0;
    width: 100%;
    height: 180%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    /* border-radius: 50% 50% 0 0; */
    border-radius: 0 0 50% 50%;
}
.b2 button:hover::before{
    height: 0%;
}


.logbuttons{
    margin-top: -50px;
}
.Adsearch:hover{
    cursor: pointer;
}
.lang{
    display: flex;
    justify-content:space-around;
}
.domain{
    display: flex;
    justify-content:space-around;
}
.but:focus{
    background-color: black;
    color: #fff;
}
.butt:focus{
    background-color: black;
    color: #fff;
}
.admodal{
    background-color: rgba(0, 0, 0, 0.479);
}
.adcontent{
    /* background-color:mintcream; */
    background-color:rgb(217, 225, 236);
}
.child{
    padding-top: 10px;
}
.modal-content{
    /* color: ; */
    background-image: linear-gradient(rgb(225, 238, 253),aliceblue);
    /* background-image: linear-gradient(rgb(218, 213, 213),rgb(255, 255, 255)); */
}
.logfor{
    background-color: paleturquoise;
}
.modal-body h6{
    text-align: center;
    color:steelblue;
}
.modin{
    background-image: linear-gradient(45deg, rgb(209, 232, 235),rgb(223, 219, 219));
    /* background-color: #ececec; */
    color:rgb(40, 51, 59);
}
.modin input{
    border: none;
    border-radius: 8px;
    background-color:rgb(230, 244, 250);
    /* background-color: #fff; */
}
.modin h6{
    color:rgb(30, 46, 58);
}
.modhe{
    /* background-image: linear-gradient(45deg, aliceblue,rgb(223, 219, 219)); */
    background-image: linear-gradient(45deg, rgb(209, 232, 235),rgb(223, 219, 219));

    color: rgb(69, 69, 70);
}
.modfo{
    /* background-image: linear-gradient(45deg, rgba(173, 171, 171, 0.89),rgb(223, 219, 219)); */
        background-image: linear-gradient(45deg, rgb(209, 232, 235),rgb(223, 219, 219));
}
.clip{
    margin-left: 220px;
}
.dropdown-menu li{
    /* background-color: transparent; */
    background-color: rgb(231, 243, 253);
    /* margin-left: 100px; */
}
.dropdown-menu li:hover{
 cursor: pointer;
}
.off img:hover{
    cursor: pointer;
}
.logb1 button{
    padding: 0.5em 1.5em;
    cursor: pointer;
    transition: 0.8s;
    margin-left: 75px;
    /* letter-spacing: 0.25em; */
    border: 1px solid #3498db;
    /* padding: 10px 20px; */
    font-size: 20px;
    /* margin: 10px; */
    color: #3498db;
    position: relative;
    overflow: hidden;
}
.logb1 button:hover{
    color: #fff;
}
.logb1 button::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.logb1 button:hover::before{
    height: 180%;
}
.dropdown-menu input{
    height: 2px;
    width: 20px;
}
.shit1 li{
    /* margin-left: -150px; */
    /* margin-top: -10px; */
    /* width: 180px; */
    background-color: transparent;
}
.shit1 li:hover{
    background-color: aliceblue;
}
.shit1 label:hover{
    cursor: pointer;
}
.shit1{
    margin-left: -150px;
    margin-top: -50px; 
    padding: 10px;
}