<div class="container mt-5">
    <h4>Science News</h4>
    <div class="row">
        <div class="col col-lg-3 mt-3 mb-3" *ngFor="let d of scienceNewsDisplay; let i = index">
            <div class="card h-100">
                <img src="{{d.urlToImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{d.title}}</h5>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" (click)="modalAct(i)" class="btn btn-outline-dark" data-bs-toggle="modal"
                            data-bs-target="#exampleModal2">Read More</a>
                        <a type="button" class="btn btn-dark" href="{{d.url}}">Go to</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel2">{{scienceNewsDisplay[modi].title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{scienceNewsDisplay[modi].description}}
                <br>
                <small class="text-muted">{{scienceNewsDisplay[modi].source.name}}</small>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-outline-dark" href="{{scienceNewsDisplay[modi].url}}">Go to</a>
                <button (click)="addTo(modi,scienceNewsDisplay[modi].title,scienceNewsDisplay[modi].description) "
                    type="button" data-bs-dismiss="modal" class="btn btn-dark">Save to clipboard</button>
            </div>
        </div>
    </div>
</div>