<div class="container mt-5">

<!-- Card Start -->
<!-- <div class="extra">
<div class="card cardb text-bg-dark">
    <img src="{{entNewsDisplay[15].urlToImage}}" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">{{entNewsDisplay[15].title}}</h5>
    </div>
  </div>

  <div class="card cardb text-bg-dark">
    <img src="{{entNewsDisplay[16].urlToImage}}" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">{{entNewsDisplay[16].title}}</h5>
    </div>
  </div>

  <div class="card cardb c3 text-bg-dark">
    <img src="{{entNewsDisplay[17].urlToImage}}" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">{{entNewsDisplay[17].title}}</h5>
    </div>
  </div>

  <div class="card cardb c4 text-bg-dark">
    <img src="{{entNewsDisplay[18].urlToImage}}" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">{{entNewsDisplay[18].title}}</h5>
    </div>
  </div>
</div> -->


<!-- Card End -->

    <h4>Entertainment News</h4>
    <div class="row">
        <div class="col col-lg-3 mt-3 mb-3" *ngFor="let d of entNewsDisplay; let i = index">
            <div class="card h-100">
                <img src="{{d.urlToImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{d.title}}</h5>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" (click)="modalAct(i)" class="btn btn-outline-dark" data-bs-toggle="modal"
                            data-bs-target="#exampleModal2">Read More</a>
                        <a type="button" class="btn btn-dark" href="{{d.url}}">Go to</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel2">{{entNewsDisplay[modi].title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{entNewsDisplay[modi].description}}
                <br>
                <small class="text-muted">{{entNewsDisplay[modi].source.name}}</small><br>
                <small class="text-muted">{{entNewsDisplay[modi].publishedAt}}</small>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-outline-dark" href="{{entNewsDisplay[modi].url}}">Go to</a>
                <button (click)="addTo(modi,entNewsDisplay[modi].title,entNewsDisplay[modi].description,entNewsDisplay[modi].urlToImage)"
                    type="button" data-bs-dismiss="modal" class="btn btn-dark">Save to clipboard</button>
            </div>
        </div>
    </div>
</div>