
<!-- Body News Start -->
<div class="container mt-5">
    <h4>Top News</h4>
    <div class="row">
        <div *ngFor="let d of topheadingDisplay" class="col-lg-3 mt-3 mb-3">
            <div class="box">
                <img src="{{d.urlToImage}}" width="100%" alt="">
                <h5 class="mt-2 mb-2">{{d.title}}</h5>
                <!-- <p>{{d.content}}</p> -->
                <a class="btn btn-dark mt-2" href="{{d.url}}">Read More</a>    
            </div>
        </div>
    </div>
</div>
<!-- Body News End -->

<!-- Test Area Start-->
<!-- <div class="container mt-5">
  <h4>Top News</h4>
  <div class="row">
      <div class="col-lg-3 mt-3 mb-3">
          <div class="box">
              <img src="./../../../assets/don.jpg" width="100%" alt="">
              <h5 class="mt-2 mb-2">Italy's most wanted Mafia boss Mathia Binotto arrested in Sicily BBC News</h5> -->
              <!-- <p>{{d.content}}</p> -->
              <!-- <a class="btn btn-dark mt-2" href="">Read More</a>    
          </div>
      </div>
  </div>
</div>
 -->
<!-- Test Area End -->




<!-- Country @ 17:44 -->
<!-- Category @ 18:00 -->
<!-- Business @ 22:10 -->
<!-- ngx loading bar @ 25:45 -->

<!-- <div class="div" *ngFor="let d of topheadingDisplay">
    {{d.title}}
</div> -->